{% load static %} {% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <link rel="stylesheet" href="{%static 'css/reset.css'%}" />
    {%block head%} {%endblock%}
  </head>
  <body>
    <header class="base_header">
      <div class="logo">
        <div class="logo_deco">
          <img class="deco_img ani_1" src="{%static 'image/card2.png' %}" />
          <img class="deco_img ani_2" src="{%static 'image/card2.png' %}" />
          <img class="deco_img ani_3" src="{%static 'image/card2.png' %}" />
          <img class="deco_img ani_4" src="{%static 'image/card2.png' %}" />
          <img class="deco_img ani_5" src="{%static 'image/card2.png' %}" />
        </div>
        <a href="{% url 'users:main' %}">PIROGRAM CARDGAME</a>
      </div>
      <nav class="base_nav">
        <ul>
          <!--  로그인시 nav -->
          {% if user.is_authenticated and user.name %}
          <!-- <li><a href="{% url 'users:rank' }"> 랭킹 보기 </a></li> -->
          <li><a href="{% url 'users:user_detail' %}"> 내 정보 </a></li>
          <li><a href="{% url 'users:rank' %}"> 랭킹 보기 </a></li>
          <li><a href="{% url 'games:list' %}"> 전적 보기 </a></li>
          <li><a href="{% url 'users:logout' %}"> 로그아웃 </a></li>
          <!--  로그인x nav -->
          {% elif user.is_authenticated and not user.name %}
          <!-- <li><a href="{% url 'users:rank' }"> 랭킹 보기 </a></li> -->
          <li><a href="{% url 'users:user_detail' %}"> 내 정보 </a></li>
          <li><a href="{% url 'users:user_detail' %}"> 랭킹 보기 </a></li>
          <li><a href="{% url 'games:list' %}"> 전적 보기 </a></li>
          <li><a href="{% url 'users:logout' %}"> 로그아웃 </a></li>
          <script>
            window.onload = function () {
              {
                alert("회원정보에서 이름을 입력하세요 !!");
              }
            };
          </script>
          {% else %}
          <li><a href="{% url 'users:login' %}"> 로그인 </a></li>
          <li><a href="{% url 'users:signup' %}"> 회원가입 </a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <div class="big_container">{% block content %} {% endblock %}</div>
    <footer></footer>
  </body>
</html>
